:root {
    --montserrat: "Montserrat", system-ui;
    --accent: #FBF138;
    --accent-gradient: linear-gradient(180.00deg, rgb(251, 241, 56),rgba(253, 249, 182, 0.45) 100%);
    --dark: #2B3541;
    --light: #F3F3F3;
}
a {
text-decoration: none;
}
body {
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: 400;
}
.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
/*Header*/
header {
    background-color: white;
    padding-top: clamp(2rem, 1.522rem + 2.25vw, 3.125rem);
    padding-bottom: 30px;
}
.header-content {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    margin: 0 auto;
}
.logo img {
    max-height: 30px;
    max-width: 97px;
}
nav ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex;
    gap: 54px;
}
nav a {
    color: var(--dark);
    line-height: 150%;
    position: relative;
}
nav a::after {
   content: '';
   display: block;
   width: 0;
   height: 1px;
   background-color: var(--dark);
   transition: width 0.3s;
   position: absolute;
   transform: translateY(9px);
}
nav a:hover::after {
   width: 100%;
}
.email-link {
   font-size: clamp(0.875rem, 0.822rem + 0.25vw, 1rem);
    color: var(--dark);
    transition: 0.2s;
    font-weight: 700;
    position: relative;
    z-index: 1;
}

.email-link::before {
    content: ''; 
    display: block;
    width: 25px; 
    height: 25px; 
    background-color: var(--accent);
    border-radius: 50%; 
    position: absolute;
    left: -14px;
    top: 50%; 
    transform: translateY(-50%); 
    box-shadow: 0px 13px 24px 0px rgba(251, 241, 56, 0.3);
    z-index: -1;
}
.burger-menu {
   display: none;
   width: 29px;
   height: 22px;
   background: none;
   border: none;
   cursor: pointer;
}
@media (max-width: 768px) {
   .burger-menu {
       display: block;
   }
   .logo img {
      width: 97px;
   }

   nav {
       display: none;
   }
}
@media (max-width: 340px) {
   .logo img {
      width: 78px;
   }
}

/*Burger menu*/
.nav-overlay {
   display: none;
   position: fixed;
   right: 0;
   left: 0;
   top: 0;
   background-color: #F3F3F3;
   display: none;
   flex-direction: column;
   align-items: flex-start;
   padding: 32px 10px 38px 10px;
   z-index: 1000;
}

.nav-overlay.active {
   display: flex;
}

.close-btn {
   background: none;
   border: none;
   position: absolute;
   top: 20px;
   right: 20px;
   cursor: pointer;
}
.close-btn img {
   width: 20px; 
   height: 20px;
}

.nav-overlay ul {
   list-style: none;
   padding: 10px 0 0 0;
   margin: 0;
   width: 100%;
}

.nav-overlay li {
   width: 100%;
   border-bottom: 1px solid #ccc;
}

.nav-overlay a {
   text-decoration: none;
   color: #2B3541;
   display: block;
   padding: 20px 0;
   font-size: 18px;
}

/*Hero Banner*/
.hero {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    margin-bottom: clamp(4.75rem, 2.572rem + 10.25vw, 9.875rem);
 }
 .hero-text {
    flex-basis: 60%;
 }
 .hero-text h1 {
    font-size: clamp(25px, 3vw, 48px);
    color: var(--dark);
    line-height: 125%;
    margin: 0 0 40px 0;
    flex-basis: 10%;
    text-transform: uppercase;
 }
 .trainings {
    margin: 0 0 20px 0;
    line-height: 125%;
    color: var(--dark);
 }
 .trainings span {
    font-size: clamp(1.625rem, 0.99rem + 2.82vw, 3rem);

 }
 .trainings-number {
    margin-right: 16px;
 }
 .hero-subtext {
    font-size: clamp(1rem, 0.942rem + 0.26vw, 1.125rem);
    color: var(--dark);
    margin: 0px;
    margin-left: 93px;
    margin-bottom: 40px;
    line-height: 150%;
    width: 297px;
}
.hero-button {
    background: var(--accent);
    border: none;
    padding: 20px 30px;
    width: auto;
    height: auto;
    color: var(--dark);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 3%;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(251, 241, 56, 0.4);
    transition: .3s;
}
.hero-button:hover {
   color: var(--accent);
   box-shadow: 0rem 0.81rem 1.5rem 0rem rgba(70, 86, 106, 0.2);
   background: rgb(43, 53, 65);
}
 .hero-bg {
    height: clamp(493px, 50vw, 852px);
    flex-basis: calc(40% - 20px);
    opacity: 0.2;
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
 }
 
 .hero img {
    position: absolute;
    right: -10vw;
    bottom: 0;
    width: clamp(399px, 55vw, 996px);
 }

 .scroll-arrow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    cursor: pointer;
}

.scroll-arrow img {
    width: 52px;
    height: 55px;
}
@media (max-width: 1300px) {
   .hero img {
      right: -5vw;
   }
}
@media (max-width: 1100px) {
   .hero-text h1 {
      max-width: 80% ;
   }
}
@media (max-width: 428px) {
   .hero-text h1 {
      max-width: 100% ;
   }
}
@media (max-width: 768px) {
   .hero-subtext {
      margin-left: 0;
   } 
   .hero {
      align-items: flex-start;
   }
   .hero-text h1 {
      margin-top: 31px;
   }
}
@media (max-width: 645px) {
   .hero {
      display: block;
   }
   .hero-bg, .hero img, .scroll-arrow {
        display: none;
    }
    .hero-subtext {
      width: 100%;
    }
}
@media (max-width: 430px) {
   .hero-button {
      width: 100%;
   }
}

/*Schedule my*/
.schedule-title {
   display: flex;
   margin-bottom: 38px;
   justify-content: space-between;
   flex-direction: row;
}
.schedule-title h2 {
   font-size: clamp(1.625rem, 1.221rem + 1.79vw, 2.5rem);
   font-weight: 700;
   color: var(--dark);
   margin: 0;
   line-height: 120%;
   margin-block-start: 0;
   margin-block-end: 0;
   flex-basis: 40%;

}
.schedule-title p {
   font-size: clamp(1rem, 0.654rem + 1.54vw, 1.75rem);
   font-weight: 700;
   line-height: 120%;
   color: var(--dark);
   margin: 0;
   text-align: right;
   margin-block-start: 0;
   margin-block-end: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 309px 73px 281px;
    grid-template-areas: "a b c" "d b f" "d e f";
    gap: 20px;
    margin-bottom: clamp(4.75rem, 2.466rem + 10.75vw, 10.125rem);
 }
 .item {
    border: 1px solid var(--dark);
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    justify-content: space-between;
    padding: 20px 30px;
    transition: .3s;
 }
 .item:hover {
   border: 1px solid transparent;
   background: linear-gradient(180.00deg, rgb(251, 241, 56),rgba(253, 249, 182, 0.45) 100%);
   box-shadow: 0rem 0.81rem 1.88rem 0rem rgba(186, 180, 69, 0.2);
   opacity: 0.7;
}
.item .date {
   font-size: clamp(0.875rem, 0.76rem + 0.51vw, 1.125rem);
   line-height: 125%;
   text-align: right;
   color: #010101;
   margin: 0;
}
.item .training-title {
   margin: 40px 0 0 0;
   font-size: clamp(0.875rem, 0.76rem + 0.51vw, 1.125rem);
   font-weight: 600;
   color: var(--dark);
}
.item .icon-title img {
   height: auto; 
   max-width: 60px; 
   max-height: 60px;
}

@media (max-width: 768px) {
   .item .date {
      font-size: 16px;
   }
   .item {
      padding: 20px 24px;
   }
   .item .training-title {
      margin-top: 33px;
      font-size: 16px;
   }
}
@media (max-width: 450px) {
   .item .date {
      font-size: 14px;
   }
   .item {
      padding: 12px;
   }
   .item .training-title {
      margin-top: 7px;
      font-size: 14px;
   }
   .icon-title img {
      width: 9%;
   }
}


 .item:nth-child(1) {
    grid-area: a;
 }
 .item:nth-child(2) {
    grid-area: b;
 }
 .item:nth-child(3) {
    grid-area: c;
 }
 .item:nth-child(4) {
    grid-area: d;
 }
 .item:nth-child(5) {
    grid-area: e;
 }
 .item:nth-child(6) {
    grid-area: f;
 }
 
 @media (max-width: 768px) {
    .grid {
       grid-template-columns: repeat(2, 1fr);
       grid-template-rows: repeat(3, 224px);
       grid-template-areas: "a b" "c d" "e f";
       gap: 10px;
    }
 }
 @media (max-width: 450px) {
   .grid {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, 114px);
      grid-template-areas: "a" "b" "c" "d" "e" "f";
      gap: 17px;
   }
}

/*Form*/
.form-section {
   background-color: #F3F3F3;
   padding: 80px 0 80px 0;
   margin-bottom: clamp(4.75rem, 2.572rem + 10.25vw, 9.875rem);
}
.form {
   max-width: 620px;
   margin: 0 auto;
   display: flex;
   gap: 20px;
}
.form-header h3 {
   max-width: 620px;
   margin: 0 auto;
   color: var(--dark);
   font-size: clamp(1.625rem, 1.221rem + 1.79vw, 2.5rem);
   font-weight: 700;
   padding-bottom: 40px;
   position: relative;
   z-index: 1;
}

.form-header h3::before {
   content: '';
   position: absolute;
   width: 53px;
   height: 53px;
   background-color: var(--accent);
   border-radius: 50%;
   left: -35px;
   top: -22px;
   z-index: -1;
   box-shadow: 0rem 0.81rem 1.5rem 0rem rgba(251, 241, 56, 0.3);
}
.form > div {
   flex-basis: calc(100% - 225px - 20px);
}
input[type="email"] {
   display: block;
   width: 372px;
   height: 65px;
   border: 1px solid white; /* Стандартная граница */
   transition: border-color 0.3s ease;
   padding: 0 0 0 15px;
   border: none;
}

input[type="email"]:focus {
   color: var(--dark);
   border-color: var(--accent);
   outline: none;
}
input[type="email"]:invalid {
   border-color: #AE0303; 
}
.form button {
   height: 65px;
   width: 225px;
   background: var(--accent);
   border: none;
   color: var(--dark);
   font-weight: 700;
   text-transform: uppercase;
   line-height: 150%;
   font-size: 16px;
   letter-spacing: 3%;
   cursor: pointer;
   box-shadow: 0 4px 10px rgba(251, 241, 56, 0.4);
   transition: .3s;
   padding: 0;
}
.form button:hover {
   color: var(--accent);
   box-shadow: 0rem 0.81rem 1.5rem 0rem rgba(70, 86, 106, 0.2);
   background: rgb(43, 53, 65);
}
.agreement {
   margin-top: 10px;

}
label {
   font-size: 11px;
   color: var(--dark);
   line-height: 150%;
}
label a {
   color: var(--dark);
   text-decoration: underline;
}
.checkbox:checked,
.checkbox:not(:checked){
   position: absolute;
   left:-9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
   position: relative;
   padding-left: 35px;
   cursor:pointer;
}
.checkbox:checked + label::before{
   content:'';
   position: absolute;
   width: 16px;
   height: 16px;
   left:0;
   top:calc(50% - 10px);
   background-color: #2B3541;
   border-radius: 2px;
   border: 2px solid #2B3541;
}
.checkbox:checked + label::after{
   content:'';
   position: absolute;
   width: 12px;
   height: 12px;
   transition: all .2s ease;
   opacity: 1;
   left: 4px;
   top: calc(50% - 6px);
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url(/images/check.svg);
}
.checkbox:not(:checked) + label::before{
   content:'';
   position: absolute;
   width: 16px;
   height: 16px;
   left:0;
   top:calc(50% - 10px);
   background-color: transparent;
   border-radius: 2px;
   border: 2px solid #2B3541;
}
.checkbox:not(:checked) + label::after{
   content:'';
   position: absolute;
   width: 12px;
   height: 12px;
   transition: all .2s ease;
   opacity: 0;
   left: 4px;
   top: calc(50% - 6px);
   background-position: 0 -12px;
   background-color: transparent;
   background-repeat: no-repeat;
   background-size: cover;
   background-image: url(/images/check.svg);
}
.radio:checked + label::before{
   border-radius: 100%;
} 
@media (max-width: 730px) {
   .form-section {
      background-color: #F3F3F3;
      padding: 57px 0 64px 0;
   }
   .form {
      flex-direction: column;
      gap: 15px;
   }
   .form-header h3 {
      padding-bottom: 38x; 
      margin: 0;
      text-align: center;
   }
   .form-header h3::before {
      width: 31px; /* Уменьшаем размер круга */
      height: 31px;
      left: 90px;
      top: -10px;
}
.form > div {
   flex-basis: 65px ;
}
input[type="email"] {
   width: 100%; 
}
.form button {
   width: 100%; 
   flex-basis: 65px ;
   margin-top: 31px;
}
.agreement {
   margin-top: 8px;
}
}

/*About*/
.about-section {
   display: flex;
   gap: 77px;
   margin-bottom: clamp(3.563rem, 2.952rem + 2.88vw, 5rem);
}
.about-text {
   flex-basis: 45%;
}
.about-image {
   flex-basis: 55%;
}
.about-text h2 {
   font-size: clamp(1.625rem, 1.221rem + 1.79vw, 2.5rem);
   margin-bottom: 19px;
   color: var(--dark);
   line-height: 125%;
}

.about-text p {
   font-size: clamp(1rem, 0.942rem + 0.26vw, 1.125rem);
   margin-bottom: 34px;
   color: var(--dark);
   line-height: 150%;
}
.about-image img {
   width: 100%;
      height: 100%;
      object-fit: cover;
    }

.about-text .signup-button {
   height: 65px;
   width: 225px;
   background: var(--accent);
   border: none;
   color: var(--dark);
   font-weight: 700;
   text-transform: uppercase;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 3%;
   cursor: pointer;
   box-shadow: 0 4px 10px rgba(251, 241, 56, 0.4);
   transition: .3s;
}
.about-text .signup-button:hover {
   color: var(--accent);
   box-shadow: 0rem 0.81rem 1.5rem 0rem rgba(70, 86, 106, 0.2);
   background: rgb(43, 53, 65);
}
.features {
   width: clamp(13.938rem, -10.42rem + 114.63vw, 71.25rem);
   display: grid;
   grid-template-columns: repeat(4, auto);
   grid-template-rows: auto;
   gap: 67px;
}
.feature h3 {
   font-size: 18px;
   margin-bottom: 20px;
   color: var(--dark);
   line-height: 125%;
}

.feature p {
   font-size: clamp(1rem, 0.942rem + 0.26vw, 1.125rem);
   color: var(--dark);
   line-height: 150%;
}

@media (max-width: 768px) {
   .about-image img {
      width: 100%;
      max-width: 382px;
      height: 358px;
      overflow: hidden;
   }
   .features {
      grid-template-columns: repeat(2, auto);
      grid-template-rows: auto;
      gap: 43px 148px;
   }
}
@media (max-width: 656px) {
   .about-section {
      display: block;
   }
   .about-image {
      display: none;
   }
}

@media (max-width: 430px) {
   .features {
      grid-template-columns: repeat(1, auto);
      grid-template-rows: auto;
      gap: 40px 0
}
.about-text .signup-button {
   width: 100%;
}
}

/*Footer*/
.footer {
   background-color: #f0f0f0;
   padding: 53px 0 26px 0;
   color: var(--dark);
   margin-top: clamp(4.25rem, 1.541rem + 12.75vw, 10.625rem);
}
.footer-top {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.footer-bottom {
   margin-top: 28px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
@media (max-width: 768px) {
   .footer-top nav,
    .footer-top .contact,
    .footer-bottom p:last-child {
        display: none;

}
}