:root {
    --montserrat: "Montserrat", system-ui;
    --accent: #FBF138;
    --accent-gradient: linear-gradient(180.00deg, rgb(251, 241, 56),rgba(253, 249, 182, 0.45) 100%);
    --dark: #2B3541;
    --light: #F3F3F3;
}
a {
text-decoration: none;
}
body {
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: 400;
}
.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
/*Header*/
header {
    background-color: white;
    padding-top: 52px;
    padding-bottom: 28px;
}
.header-content {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    margin: 0 auto;
    
}
.logo img {
    max-height: 30px;
}
nav ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex;
    gap: 54px;
}
nav a {
    color: var(--dark);
    line-height: 150%;
}
.email-link {
    color: var(--dark);
    transition: 0.2s;
    font-weight: 700;
    position: relative;
    z-index: 1;
}

.email-link::before {
    content: ''; 
    display: block;
    width: 25px; 
    height: 25px; 
    background-color: var(--accent);
    border-radius: 50%; 
    position: absolute;
    left: -14px;
    top: 50%; 
    transform: translateY(-50%); 
    box-shadow: 0px 13px 24px 0px rgba(251, 241, 56, 0.3);
    z-index: -1;
}

/*Hero Banner*/
.hero {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
 }
 .hero-text {
    flex-basis: 60%;
 }
 .hero-text h1 {
    font-size: clamp(26px, 4.5vw ,48px);
 }
 .hero-bg {
    height: clamp(493px, 50vw, 852px);
    flex-basis: calc(40% - 20px);
    opacity: 0.2;
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
 }
 
 .hero img {
    position: absolute;
    right: -10vw;
    bottom: 0;
    width: clamp(399px, 50vw, 996px);
 }
 
 @media (max-width: 1500px) {
    .hero img {
       right: -2vw;
    }
 }
 @media (max-width: 1220px) {
    .hero img {
       right: 5px;
    }
 }
